<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    </head>
  <body><main>
    <h1>Group Name is {{groupname}}</h1>  
</main>

    <textarea name="" id="chat-log" cols="100" rows="20">
      {% for chat in chats %}
        {{chat.content}}
      {% endfor%}
    </textarea><br>
    <input type="text" id="chat-message-input" size="100"><br>
    <input type="button" value="Send" id="chat-message-submit">
    {{groupname|json_script:"group-name"}}

    <script>
        const groupName =JSON.parse(document.getElementById
        ('group-name').textContent)
        console.log(groupName)
        var ws = new WebSocket('ws://' + window.location.host + '/ws/sc/' + groupName + '/');
        ws.onopen = function()
        {
        console.log('websocket Connection open...');

        }
        ws.onmessage = function(event)
        {
            console.log('Message Received from server',event.data)
            const data = JSON.parse(event.data)
            console.log('Message Received from server',data.user)
            document.querySelector('#chat-log').value += (data.user +':' + data.msg + '\n')
        }
        ws.onclose = function(event)
        {
            console.error('Chat socket closed unexpectedly');
        };

        document.getElementById('chat-message-submit').onclick =
        function(event){
          const messageInputDom = document.getElementById
          ('chat-message-input')
          const message = messageInputDom.value
          ws.send(JSON.stringify({
          'msg' : message
        }))
        messageInputDom.value=''
      }
    </script>
  </body>
</html>